<!-- eslint-disable vue/multi-word-component-names -->
<template>
<body>
    <div class="wave" style="height: 50px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
        </svg></div>
    <!-- Fin de la cabecera -->
        <main class="container">
            <section class="form-box">
                <div class="button-box">
                    <a href="/login" class="toggle-btn">Iniciar Sesión</a>
                    <a href="/registro" class="toggle-btn">Registrate</a>
                </div>
                <p class="warning" id="warning"></p>
                <form 
                    id="login"
                    class="form-login"
                    method="POST">
                    <input 
                        id="email"
                        name="email"
                        type="text" 
                        class="input-field"
                        placeholder="Correo electronico"
                        />
                    <input 
                        id="password"
                        name="password"
                        type="password" 
                        class="input-field" 
                        placeholder="Contraseña" 
                        />
                    <div>
                        <a href="/"><input class="submit-btn" value="Ingresar"/></a>
                    </div>
                </form>
            </section>
        </main>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="/contactos">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="/contactos">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2022</h2>
  </footer>
</body>
</template>

<script>
export default {
  data: () => ({
  login:{
      correo: /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/,
      password: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/,
  },
  inputs: document.querySelectorAll('#caja-login'),
  validarFormulario: (e) => {
	switch (e.target.name) {
		case "contrasena":
			if(this.login.password.test(e.target.value)){
                document.getElementById("p-error").innerHTML = "";
            } else{
                document.getElementById("p-error").innerHTML = "Contraseña no valida";
            }
		break;
		case "correo":
			if(this.login.correo.test(e.target.value)){
                document.getElementById("c-error").innerHTML = "";
            } else{
                document.getElementById("c-error").innerHTML = "Correo no válido";
            }
		break;
	}
},
  }),
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}

:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
  }

body{
    margin: 0px;
    background-color:var(--secondarycolor)
}
.container{
    width: 100%;
    margin: 0px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 365px;
    height: 450px;
    text-align: center;
    font-size: 0.7rem;
    margin: 0 auto;
    background-color:rgb(243, 243, 243); 
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.toggle-btn{
    padding: 10px 22px;
    background: #313b50;
    outline: none;
    position: relative;
    border-radius: 25px;
    color: var(--secondarycolor);
    cursor: pointer;
}

.redes-sociales{
    margin: 10px auto;
    text-align: center;
}

.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #343131;
    cursor: pointer;
    border-radius: 50%;
}

.warning {
    width: 100%;
    grid-column: 1/-1;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 0;
} 

.form-login{
    grid-column: 1/-1;
    width: 80%;
    padding: 10px 20px 10px;
    margin: auto;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 75%;
    padding: 10px 30px;
    margin-top: 50px;
    margin: auto;
    background: #313b50;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

#login{
    left: 50px;
}
footer{
    background: #414141;
    padding: 3rem;
}
.content-foo p{
    color: #ccc;
}
@media screen and (max-width:500px){
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}


.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #32965D;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
</style>