<template>
<body>
<header>
    <div class="wave" style="height: 50px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
        </svg></div>
</header>
        <section class="form-box">
            <div class="button-box">
                <a href="/login" class="toggle-btn">Iniciar Sesión</a>
                <a href="/registro" class="toggle-btn">Registrate</a>
            </div>
            <div class="redes-sociales">
                <img src="../assets/facebook.png" alt="icono_facebook">
                <img src="../assets/twitter.png" alt="icono_twitter">
                <img src="../assets/Google.png" alt="icono_google">
            </div>
            <p class="warning" id="warning"></p>
            <br>
            <form   
                id="registro"
                class="form-registro"
                method="POST">
                <input 
                    id="name"
                    name="name"
                    type="text" 
                    class="registro-input" 
                    placeholder="Nombre*" 
                    required
                    />
                <input 
                    id="lastName"
                    name="lastName"
                    type="text" 
                    class="registro-input" 
                    placeholder="Apellido*" 
                    required
                    />
                <input
                    id="email"
                    name="email"
                    type="email" 
                    class="registro-input" 
                    placeholder="Correo*" 
                    required
                    />
                <input
                    id="password"
                    name="password"
                    type="password" 
                    class="registro-input" 
                    placeholder="Contraseña*" 
                    required
                    />
                <input
                    id="password-confir"
                    type="password" 
                    class="registro-input" 
                    placeholder="Confirma tu contraseña*" 
                    required
                    />
                <input
                    id="date"
                    name="date"
                    type="date" 
                    class="registro-input"
                    placeholder="Fecha de nacimiento"
                    required
                    />
                <label for="terminos" class="registro-label">
                    He leído y acepto los
                    <a href="#" class="registro-p-link">Términos y Condiciones</a> y la
                    <a href="#" class="registro-p-link">Política de privacidad</a>*
                    <input
                        type="checkbox"
                        id="terminos"
                        class="body-form-selection"
                        required
                    /></label>
                <p class="registro-p">*Campos obligatorios</p>
                    <br>
                        <a href="/" class="submit-btn">Registrate</a>
                        <p class="registro-p2">
                            ¿Ya tienes una cuenta?
                            <a href="/login" class="registro-p-link">Inicia Sesión</a>
                        </p>
            </form>
        </section>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="/contactos">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="/contactos">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2022</h2>
</footer>
</body>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => ({
  nombres: "", // Letras y espacios, pueden llevar acentos.
  apellidos: "", // Letras y espacios, pueden llevar acentos.
	contrasena: "", // 8 caracters, una letra mayuscula y minuscula.
  contrasena2:"", // 8 caracters, una letra mayuscula y minuscula.
	correo:"",
	direccion: ""// Letras y espacios, pueden llevar acento
  }),
  methods: {
   Registrar: function (e) {
     this.errors = [];
     if (!this.nombres) {
       alert("El nombre es obligatorio.");
     } else if (!this.validapellidos(this.nombres)) {
 this.errors.push('El nombre debe ser válido.');
 
     }
     if (!this.apellidos) {
  alert("El Apellido es obligatorio.");
} else if (!this.validapellidos(this.apellidos)) {
 this.errors.push('El apellidos debe ser válido.');
     }
     if (!this.correo) {
       alert('El correo electrónico es obligatorio.');
     } else if (!this.validEmail(this.correo)) {
       this.errors.push('El correo electrónico debe ser válido.');
     }

     if (!this.contrasena) {
  alert('contraseña es obligatorio.');
} else if (!this.validcontrasena(this.contrasena)) {
  this.errors.push('contraseña debe ser válido.');
}
if (!this.contrasena2) {
  alert('contraseña es obligatorio.');
} else if (!this.validcontrasena2(this.contrasena2)) {
  this.errors.push('El correo electrónico debe ser válido.');
} 
         if (!this.errors.length) {
  return true;
}
e.preventDefault();
   },
   validEmail: function (correo) {
     var re = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/
     return re.test(correo);
     
   },
    validapellidos: function (apellidos,nombres) {
  var re1 = /^[a-zA-ZÀ-ÿ\s]{1,40}$/
  return re1.test(apellidos,nombres);
},
    validcontrasena: function (contrasena,contrasena2) {
  var re2 = /^[a-zA-Z0-9]$/;
  
  return re2.test(contrasena,contrasena2);
   }, 
 
  }}

  </script>

<style scoped>
/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}
/* FIN DE RESETEO DE CSS */
/* INICIO DE DECLARACION DE VARIABLES
         variables con las que se trabajaran */
:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: "Roboto", sans-serif;
    --secondtext: "Dancing Script", "cursive";
    --shadow: rgba(0, 0, 0, 0.75);
        }
/* FIN DE DECLARACION DE VARIABLES */
body{
    margin: 0px;
    background-color: white;
}
.container{
    height: 45rem;
    margin: 0px;
}

.form-box{
    width: 400px;
    height: 650px;
    position: relative;
    font-size: 0.7rem;
    margin: 0 auto;
    background-color:rgb(243, 243, 243); 
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.toggle-btn{
    padding: 10px 22px;
    background: #313b50;
    outline: none;
    position: relative;
    border-radius: 25px;
    color: var(--secondarycolor);
    cursor: pointer;
}

.redes-sociales{
    margin: 10px auto;
    text-align: center;
}

.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 15px 4px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}

.warning {
    width: 100%;
    grid-column: 1/-1;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 0;
}  

.form-registro{
    grid-column: 1/-1;
    width: 80%;
    padding: 10px 20px 10px;
    margin: auto;
}

.registro-input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display: block;
    margin: auto;
    background: #313b50;
    outline: none;
    border-radius: 30px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.check-box{
    margin: 30px 10px 30px 0;
    cursor: pointer;
}

span{
    color: black;
    font-size: 13px;
    bottom: 64px;
    position: absolute;
    cursor: pointer;
}

#registro{
    left: 60px;
}

.registro-p{
    padding: 10px 10px 0;
}

.registro-p2{
    color :black;
    text-align: center;
    padding: 10px 10px 0;
}

.registro-p-link{
    text-align: center;
    color: black;
}

.registro-p{
    color: black;
}

.registro-label{
    text-align: center;
    color: black;
}

.registro-p-link:hover{
    color: black;
    transition: color 0.3s ease;
}
/*=====================================
/*  INICIO DE RESETEO DE CSS
esto solo resetea las configuraciones iniciales */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}
/* FIN DE RESETEO DE CSS */

/* INICIO DE DECLARACION DE VARIABLES
         variables con las que se trabajaran */
:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
        }
/* FIN DE DECLARACION DE VARIABLES */

/* footer */

footer{
    background: #414141;
    padding: 3rem;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: var(--secondarycolor);
    border-bottom: 3px solid #32965D;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.f-a{
    color: var(--secondarycolor);
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/* Galeria */

.imagen-port{
    width: 44%;
}

/* team */

.cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .card{
    width: 90%;
}

.cards .card:first-child{
    margin-bottom: 30px;
}

@media screen and (max-width:500px){
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
</style>